.container__footer {
    width: 100%;
    padding: 20px;
    background-color: #297a72;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: auto;
}