*{
    margin: 0;
    padding: 0;
}

#tratamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding: 60px 20px;
    text-align: center;


}


#tratamento h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#tratamento p {
    font-size: 18px;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
}
.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: white;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #297a72;
    text-align: center;
    transition: color 0.3s ease;
}

.card p {
    font-size: 16px;
    text-align: center;
    color: #555;
}

.card:hover {
    transform: scale(1.05);
}

.card h3:hover {
    color: #49b749;
}



#tratamento  .cards .card .card__imagem1,  .card__imagem2, .card__imagem3, .card__imagem4, .card__imagem5 , .card__imagem6{
    width: 100%;
    height: auto;
}
@media(max-width:1090px){

    #tratamento{
        width: 100%;
        max-width: calc(1090px-80px);
        flex-direction: row;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 20px;
        gap: 50px;
    }
}
@media(max-width:430px){
    #tratamento{
        
        flex-direction: column;
        justify-content: center;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 280px;
    }
}
